html{
    scroll-behavior: smooth;
}

body{
    margin: 0px !important;
    overflow-x: hidden;
}

nav{
    position: fixed; 
    overflow: hidden;  
    
    display: flex;

    background-color: #1a1a1a;
    
    padding-inline-start: 162px;

    align-items: center;

    width: 100%;
    height: 64px;
    z-index: 1000;

    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.25);
}

#logo{
    position: relative;

    font-size: 24px;
    color: #fff;
}

.main-font{
    font-family: Consolas, monaco, monospace;
}

.bold-font{
    font-weight: 700;    
}

#buttons{
    display: flex;
    margin-left: 127px;
}

.button, a{
    text-decoration: none;

    color: #fff;
    font-size: 20px;
    width: 143px;

    padding-right: 20px;
}

main{
    position: relative;
    top: 64px;
}

#disclaimer{
    background-color: #fcff58;

    padding: 10px 0 10px 0;

    text-align: center;
}

#landing-page{
    background-image: url("../images/background.jpg");
    background-size: calc(100% * 1.5) auto;

    width: 100%;
    height: 758px;
}

#movable-skill{
    display: flex;
}

#skills{
    position: absolute;

    left: 10%;
    top: 313px;
}

.i-am-a{
    font-size: 24px;
}

#main-skill, #cursor{
    font-size: 5vw;
    line-height: 80px;
}

.blink{
    animation: blink .7s infinite;
}
@keyframes blink{
    to {opacity: .0;}
}    

#eugene-png{
    position: absolute;
    background-image: url("../images/eugene-landing-page.png");
    background-size: 522px 731px;
    width: 522px;
    height: 731px;
    margin: 27px 0 0 60%
}

#about-me{
    padding: 50px;

    background-color:#1a1a1a;
    color: #fff;
}

.title{
    font-size: 48px;
    text-align: center;
}

#about-me-body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-eugene{
    background-image: url("../images/wacky-eugene.jpg");
    background-size: auto 320px;
    background-position: -50px -90px;

    width: 200px;
    height: 200px;

    border-radius: 100px;
}

.description{
    padding-left: 30px;

    width: 50%;
    text-align: justify;
}

#programming-exp{
    padding: 50px;
}

#programming-exp-body, #projects-body{
    text-align: center;
}

#programming-langs{
    display: flex;
    justify-content: center;

    padding: 50px
}

.prog-logo{
    height: 120px;
    width: 120;
    padding-left: 30px;
    padding-right: 30px;
}

.project-container{
    margin: 50px auto 0 auto;
    width: 400px;
    border-radius: 20px;


    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.project-img{
    width: 300px;
    
    margin: 30px 50px 30px 50px;
}

.project-container-body{
    margin: 10px 30px 30px 30px;
}

#music{
    background-color: #1a1a1a;
    color: #fff;

    padding: 50px 15% 50px 15%;
}

#music-body{
    text-align: center;
}

.worked-music{
    display: flex;
    justify-content: center;

    padding:50px 50px 0 50px;
}

.album-art{
    height: 300px;

    padding-left: 20px;
    padding-right: 20px;
}

#music-details{
    margin-top: 30px;
    padding: 50px;

    text-align: center;

    background-color: #353535;
    color: #fff;

}

#music-detail-body{
    text-align: center;
    display: flex;

    margin-top: 30px;
}

#detail-description{
    padding-left: 30px;

    text-align: justify;
}

